h2 {
  color: #22577e;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.para {
  color: grey;
  font: 1em sans-serif;
}

.hello .content {
  display: flex;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #fff;
  /* transform: translateY(90px);
  opacity: 0;
  transition: 1s; */
}

/* .hello:hover .content {
    transform: translateY(0px);
    opacity: 1;
    color: #fff;
} */
